body{
    color: red;
    display: grid;
    grid-template-areas: "header"
                          "main"
                          "footer";
                          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  
                     
                          
}

header{
    grid-area: header;
    border: grey solid 1px;
    background-color: rgb(89, 154, 218);
   
} 
header h1{
    text-align: center;

}
#world{
 margin: auto auto
   
}

.square{
    height: 30px;
    width: 30px;

}
.floor{
    background-color: blue;
    background-image: url(../sprite/ground.png);
}
.target{
    background-color: green;
    background-image: url(../sprite/target.png);
}
.wall{
    background-color: grey;
    background-image: url(../sprite/wall.png);
}
.box{
    background-color: yellow;
    background-image: url(../sprite/box.png);
}
.box.target{
    background-color: red;
    background-image: url(../sprite/box-on-target.png);
}
.player{
    background-color: violet;
    background-image: url(../sprite/player-front.png);
    
}



#texteFooter {
    text-align: center;
    font-size: 1em;

}
#createur{
    text-decoration: underline;
    color: white;

}
footer p{
    text-align: center;
    color: white;
}
footer {

    background-color:  rgb(89, 154, 218);
    bottom: 0;
    position: absolute;
    width: 99%;
    padding-top:50px;
    height:100px;
    grid-area: footer;
    text-align: center;
}

.line{
    display: flex;
}
#compteur{
    font-size: 20px;
    color: black;
    margin: auto;
     padding-bottom: 40px;

    }
    #recommencer{
        font-weight:bold;
        width: 100px;
    }
    #niveau{
        font-size:20px;
        color: black;
    }
    #affichage{
        font-size: 20px;
        color: black;
    }
    .droitePlayer{
        background-image: url(../sprite/player-right.png);

    }
    .gauchePlayer{
        background-image: url(../sprite/player-left.png);
    }
    .hautPlayer{
        background-image: url(../sprite/player-up.png);
    }
    .basPlayer{
        background-image: url(../sprite/player-front.png);
    }
    .gagnerPlayer{
        background-image: url(../sprite/player-won.png);
    }
    /*  */
    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: blue;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color:white;
    text-decoration: none;
    cursor: pointer;
  }
  #myBtn{
      width: 50px;
      font-weight: bold;
  }
  #annuler{
    width: 100px;
    font-weight: bold;

  }
  #boutton{
    justify-content: space-between;
 margin: auto;
  }