body{
    color: red;
    display: grid;
    grid-template-areas: "header"
                          "main"
                          "footer";
  
                     
                          
}

header{
    grid-area: header;
    border: grey solid 1px;
    background-color: rgb(89, 154, 218);
   
} 
header h1{
    text-align: center;

}
#world{
 margin: auto auto
   
}

.square{
    height: 30px;
    width: 30px;

}
.floor{
    background-color: blue;
}
.box{
    background-color: yellow;
}
.target{
    background-color: green;
}
.boxWithTarget{
    background-color: red;
}
.wall{
    background-color: grey;
}
.player{
    background-color: violet;
}


#texteFooter {
    text-align: center;
    font-size: 1em;

}
footer p{
    text-align: center;
    color: white;
}
footer {

    background-color:  rgb(89, 154, 218);
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-top:50px;
    height:50px;
    grid-area: footer;
}

.line{
    display: flex;
}

